{% extends 'layout.html' %}
{% block title %}Search Customer{% endblock %}

{% block page %}

<h1 class="display-3 text-center">Search Customer</h1>
<form action="{{url_for('executives.customer_profile')}}">
	<div class="form-group">
		<label for="cust_id">Customer ID</label>
		<input autofocus class="form-control" id="cust_id" name="" pattern=".{9}" type="number">
	</div>
	<h2 class="display-4 text-center">OR</h2>
	<div class="form-group">
		<label for="ssn_id">SSN ID</label>
		<input class="form-control" id="ssn_id" name="" pattern=".{9}" type="number">
	</div>

	<button class="btn btn-primary" type="submit">Search</button>
</form>

{% endblock %}