{% extends 'layout.html' %}
{% block title %}Users{% endblock %}

{% block page %}


<h1 class="display-3 text-center">User operations</h1>
<table class="table" id="toolbar">
	<tbody>
	<tr>
		<td><a class="btn btn-primary" href="{{url_for('routes.all_users')}}">View all users</a></td>
	</tr>
	</tbody>
</table>
<table class="table" data-toolbar="#toolbar">
	<thead class="thead-dark">
	<tr>
		<th scope="col">Search</th>
		<th scope="col">User Information</th>
		<th scope="col">Operations</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>
			<form action="{{url_for('auth.search_user')}}" method="post">
				<div class="form-group">
					<label for="search_user_id">Username</label>
					<input autofocus class="form-control" id="search_user_id" name="search_user_id" type="text">
				</div>
				<h2 class="display-4 text-center">OR</h2>
				<div class="form-group">
					<label for="search_email">Email address</label>
					<input class="form-control" id="search_email" name="search_email" type="email">
				</div>

				<button class="btn btn-primary" type="submit">Find</button>
			</form>
		</td>
		<td>
			<table class="table">
				<tbody>
				{%if user %}
				<tr>
					<th scope="col">Username</th>
					<td><input disabled id="user_id" type="text" value={{user.userId}}></td>
				</tr>
				<tr>
					<th scope="col">Name</th>
					<td><input disabled id="user_name" type="text" value={{user.name}}></td>
				</tr>
				<tr>
					<th scope="col">Aadhar Number</th>
					<td><input disabled id="acct_id" pattern=".{12}" type="number" value={{user.aadhar}}></td>
				</tr>
				<tr>
					<th scope="col">Account Type</th>
					<td><input disabled id="acct_type" type="text" value={{user.type}}></td>
				</tr>
				<tr>
					<th scope="col">Email</th>
					<td><input disabled id="email" type="email" value={{user.email}}></td>
				</tr>
				{% else %}
				<tr>
					<td>
						Nothing to show!
					</td>
				</tr>
				{% endif %}
				</tbody>
			</table>
		</td>
		<td>
			<div class="form-group">
				{% if user %}
				<form action="{{url_for('routes.update_user',user_data=user.id) }}">
					<input class="btn btn-primary" type="submit" value="Update">
				</form>
				{% endif %}

			</div>
		</td>
	</tr>
	</tbody>
</table>
{% endblock %}