<li class="nav-item">
	<a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{url_for('cashier.account_detail') }}">Accounts</a>
</li>
<!--
<div class="dropdown">
	<button aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle" data-toggle="dropdown"
	        id="triggerId1"
	        type="button">
		Statements
	</button>
	<div aria-labelledby="triggerId1" class="dropdown-menu">
		<a class="dropdown-item"
		   href="{{url_for('cashier.statements') }}">Get statement</a>
		<div class="dropdown-divider"></div>
	</div>
</div>-->
<li class="nav-item">
	<a class="nav-link" href="{{url_for('cashier.statements') }}">Statements</a>
</li>
